<%- include ('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-top">
   <div class="container">
     <% if(!currentUser) { %>
      <a class="navbar-brand" href="/">Ballina</a>
      <% } else if(!currentUser.isAdmin) { %>
      <a class="navbar-brand" href="/user/1">Ballina</a>
      <% } else if(currentUser.isAdmin) { %>
      <a class="navbar-brand" href="/admin">Ballina</a>
      <% } %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active  px-2">
            <a class="nav-link" href="/schedules/all/all/1">Kerko orare</a></a>
          </li>
        </ul>

           <% if(currentUser) { %>
          <ul class="navbar-nav ml-auto">



            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> Miresevini <%=user.username%>
              </a>
              <div class="dropdown-menu">
                <%if(!currentUser.isAdmin) { %>
                  <a href="/user/1/profile" class="dropdown-item">
                    <i class="fa fa-user-circle"></i> Profili
                  </a>
                  <a href="/auth/user-Logout" class="dropdown-item">
                    <i class="fa fa-user-times"></i> Ç'kyquni
                  </a>
              <% } else { %>
                   <a href="/admin/profile" class="dropdown-item">
                    <i class="fa fa-user-circle"></i> Profili
                  </a>
                  <a href="/auth/user-Logout" class="dropdown-item">
                    <i class="fa fa-user-times"></i> Ç'kyquni
                  </a>
              <% } %>
              </div>
            </li>


          </ul>
          <% } else { %>
          <a href="/auth/user-signup" class="btn btn-primary btn-sm ml-auto">Regjistrohuni</a>
          <% } %>
      </div>
  </div>
</nav>

<!--SEARCH BAR-->
<section id="search_bar" class="my-3 py-4 bg-light">
  <div class="container">
   <form action="/schedules/all/all/1" method="POST">
    <div class="row">
        <div class="col-md-5 p-1">
          <select name="filter" class="form-control">
            <option selected disabled>Select Filter...</option>
            <option value="Title" >Titulli</option>
            <option  value="author">Autori</option>
            <option  value="category">Kategoria</option>
            <option  value="ISBN">ISBN</option>
          </select>
        </div>

         <div class="col-md-5 p-1">
          <input name="searchName"  type="text" class="form-control" placeholder="Search Schedules">
        </div>

         <div class="col-md-2 p-1">
          <input type="submit" class="btn btn-outline-primary btn-block" value="Search">
        </div>
      </div>
    </form>
  </div>
</section>

<%- include ('partials/alerts') %>

<section id="browse_schedules" class="mt-5">
  <div class="container">

    <div class="row">
    <% for(var i = 0; i < schedules.length; i++) { %>
    <div class="card col-md-3 text-center">
          <div class="card-body">
            <h5 class="card-title"> <%=schedules[i].title%> </h5>
            <p class="text-muted">
              <small class="text-muted">Autori : <%=schedules[i].author%></small>
            </p>
            <p class="text-muted">
              <small class="text-muted">Kategoria : <%=schedules[i].category%></small>
            </p>
            <p class="text-muted">
              <small class="text-muted">Ne stok : <%=schedules[i].stock%></small>
            </p>


            <% if(currentUser && schedules[i].stock > 0) { var match = false%>
                <% user.scheduleIssueInfo.forEach(schedule_info => { %>
                    <% if(schedule_info._id.equals(schedules[i]._id)) { %>
                       <a href="#" class="btn btn-xs btn-warning disabled" role="button" aria-disabled="true">Rezervuar!</a>
                       <a href="/schedules/return-renew" class="btn btn-xs btn-success" role="button">Anulo</a>
                    <% match = true; } %>
             <% }) %>

             <% if(!match) {%>
            <form action="/schedules/<%=schedules[i]._id%>/issue/<%=currentUser._id%>" method="POST" class="d-inline">
               <input class="btn btn-xs btn-success" type="submit" value="Rezervo">
            </form>
            <% } %>
            <% } %>
            <a href="/schedules/details/<%=schedules[i]._id%>" class="btn btn-xs btn-primary">Detajet</a>
          </div>
        </div>
    <% } %>
    </div>
    <% if (pages > 0) { %>
      <nav class="ml-3 mb-2">
        <ul class="pagination offset-md-3">

          <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">E para</a></li>
          <% } else { %>
            <li class="page-item"><a href="/schedules/<%=filter%>/<%=value%>/1" class="page-link">E para</a></li>
          <% } %>

          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                  <% if (i !== 1) { %>
                      <li class="page-item disabled"><a class="page-link">...</a></li>
                  <% } %>
                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                      <% if (i == current) { %>
                          <li class="page-item active"><a class="page-link"><%= i %></a></li>
                      <% } else { %>
                          <li class="page-item"><a class="page-link" href="/schedules/<%=filter%>/<%=value%>/<%= i %>"><%= i %></a></li>
                      <% } %>
                      <% if (i == Number(current) + 4 && i < pages) { %>
                          <li class="page-item disabled"><a class="page-link">...</a></li>
                      <% } %>
                  <% } %>
                  <% if (current == pages) { %>
                      <li class="page-item disabled"><a class="page-link">E fundit</a></li>
                  <% } else { %>
                      <li class="page-item"><a href="/schedules/<%=filter%>/<%=value%>/<%= pages %>" class="page-link">E fundit</a></li>
                  <% } %>
        </ul>
      </nav>
   <% } %>
  </div>
</section>


<%- include ('partials/footer') %>
