<%- include ('../partials/header') %>

<%- include ('../partials/userNav') %>

<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-gear"></i>Faqja kryesore</h1>
      </div>
    </div>
  </div>
</header>

<%- include ('../partials/alerts') %>
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/schedules/all/all/1" class="btn btn-primary btn-block">
          <i class="fa fa-plus"></i> Rezervo orare
        </a>
      </div>


      <div class="col-md-4">
        <a href="/schedules/return-renew" class="btn btn-info btn-block">
          <i class="fa fa-retweet"></i> Anulo orare
        </a>
      </div>



    </div>
  </div>
</section>


<section id="home" class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">

          <div class="card-body">
            <p>Emri : <%=user.firstName%> <%=user.lastName%></p>
            <p>Email : <%=user.email%></p>
            <p>Orari i Rezervuar: <%=user.scheduleIssueInfo.length%></p>
            <p>Antarsuar : <%=user.joined.toDateString() %></p>
          </div>
        </div>
      </div>
      <div class="col-md-9">

        <div class="card">
          <div class="card-header text-center">
            <h4>Aktivitetet e fundit</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Informacioni</th>
                <th>Kategoria</th>
                <th>Data</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
               <% activities.forEach(activity => { %>
                <% if(activity.category == 'Rezervo') { %>
                     <tr>
                        <td>Ju keni <span class="table-text">rezervuar </span> <%=activity.info.title%></td></td>
                        <td><%=activity.category%></td>
                        <td>
                          <p>Rezervuar me :  <%=activity.time.issueDate.toDateString()%></p>
                          <p>Anuluar :  <%=activity.time.returnDate.toDateString()%></p>
                        </td>
                      </tr>
               <%  } else if(activity.category == 'Anulo') { %>
                      <tr>
                          <td>Ju keni <span class="table-text">anuluar </span> <%=activity.info.title%></td></td>
                          <td><%=activity.category%></td>
                          <td>
                            <p>Rezervuar me :  <%=activity.time.issueDate.toDateString()%></p>
                            <p>Anuluar :  <%=activity.time.returnDate.toDateString()%></p>
                          </td>
                      </tr>

                  <% } else if(activity.category == 'Update Profile') { %>
                            <tr>
                              <td>Ju keni perditesuar <span class="table-text">informacionet e profilit tuaj</span> </td>
                              <td><%=activity.category%></td>
                              <td>
                                <%=activity.entryTime.toDateString()%>
                                </td>
                              <td>
                                <a href="/user/1/profile" class="btn btn-sm btn-success" role="button">Vizito profilin</a>
                              </td>
                          </tr>
                  <% } else if(activity.category == 'Update Password') { %>
                            <tr>
                              <td>Ju keni perditesuar <span class="table-text">fjalekalimin tuaj</span></td>
                              <td><%=activity.category%></td>
                              <td>
                                <%=activity.entryTime.toDateString()%>
                                </td>
                              <td>
                                <button class="btn btn-sm btn-success">E nderruar me sukses!</button>
                              </td>
                          </tr>
                  <% }  %>
            <% }); %>

            </tbody>
          </table>

           <% if (pages > 0) { %>
        <nav class="ml-3 mb-2">
          <ul class="pagination offset-md-3">

            <% if (current == 1) { %>
              <li class="page-item disabled"><a class="page-link">E para</a></li>
            <% } else { %>
              <li class="page-item"><a href="/user/1" class="page-link">E para</a></li>
            <% } %>

            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/user/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">E fundit</a></li>
                    <% } else { %>
                        <li class="page-item"><a href="/user/<%= pages %>" class="page-link">E fundit</a></li>
                    <% } %>
          </ul>
        </nav>
     <% } %>




        </div>
      </div>
    </div>
  </div>
</section>



<%- include ('../partials/footer') %>
